<div class="page-ttl">
    <div class="layer-stretch">
        <div class="page-ttl-container">
            <h1>{{{title}}}</h1>
        </div>
    </div>
</div>

{{#ifUserIsTrainee session.user.trainee_role 1}}
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-form-label" for="course_drop">Course</label>
                        <select name="course_drop" class="form-control" id="course_drop"
                                onchange="getSkillOnCourseSelection()">
                            <option disabled selected value></option>
                            {{#courses}}
                                <option value="{{course_id}}">{{course_name}} ({{semester}} {{year}})</option>
                            {{/courses}}
                        </select>
                    </div>

                    <!--<div class="row">-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label">Skill</label>
                            <select name="skills_drop" class="form-control" id="skills_drop"
                                    onchange="getSessionsOnSkillSelection()">
                                <option disabled selected value></option>
                            </select>
                        </div>
                    </div>
                    <!--</div>-->
                    <!--<div class="row">-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label">Session</label>
                            <select name="sessions_drop" class="form-control" id="sessions_drop"
                                    onchange="getScoreBasedOnSessionID()">
                            </select>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
{{/ifUserIsTrainee}}

{{#ifUserIsTrainer session.user.trainer_role 1 }}
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-head">
                {{#each usersession}}
                    <div class="row">
                        <div class="col-md-6">
                            <span><h4><b>Trainee Name:</b> {{trainee_firstname}} {{trainee_lastname}}</h4></span>
                        </div>

                        <div class="col-md-6">
                            <span><h4><b>Trainer Name:</b> {{trainer_firstname}} {{trainer_lastname}}</h4></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span><h4><b>Course:</b> {{course_name}}</h4></span>
                        </div>
                        <div class="col-md-4">
                            <span><h4><b>Skill:</b> {{skill_name}}</h4></span>
                        </div>
                        <div class="col-md-4">
                            <span><h4><b>Session Type:</b> {{type}}</h4></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span><h4><b>Date:</b> {{sessionDate}}</h4></span>
                        </div>
                        <div class="col-md-4">
                            <span><h4><b>Time (24 hrs):</b> {{sessionTime}}</h4></span>
                        </div>
                        <div class="col-md-4">
                            <span><h4><b>Duration (min):</b> {{duration}}</h4></span>
                        </div>
                    </div>
                    {{#if trainer_comment}}
                    <div class="row">

                        <div class="col-md-12">
                            <span><h4><b>Trainer Comment:</b> {{trainer_comment}}</h4></span>
                        </div>
                    </div>
                    {{/if}}
                    {{#if trainer_comment}}
                        <div class="row">

                            <div class="col-md-12">
                                <span><h4><b>Trainee Comment:</b> {{trainee_comment}}</h4></span>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="table">
                            <thead class="light-background">
                            <tr>
                                <th hidden>Skill ID</th>
                                <th>Criteria</th>
                                <th>Score</th>
                                <th>Trainer Comment</th>
                                <!--<th>Your Comment</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            {{#each scores}}
                                <tr class="scoreCategory">
                                    <td hidden>{{score_id}}</td>
                                    <td>{{criteria_name}}</td>
                                    <td><span id="score_span">{{score_value}}</span></td>
                                    {{#if trainer_comment}}
                                        <td>{{trainer_comment}} </td>
                                    {{else}}
                                        <td>{{#ifUserIsTrainer ../session.user.trainer_role 1}}
                                            <button class="btn btn-pill btn-primary" data-toggle="modal"
                                                    data-target="#scoreCommentModal"
                                                    data-criteria-name="{{criteria_name}}" data-score_id="{{score_id}}"
                                                    onclick="addScoreComment(this)"><i class="fa fa-plus"></i> Add
                                                Comment
                                            </button>{{/ifUserIsTrainer}}</td>

                                    {{/if}}
                                    <!--<td>{{trainee_comment}}</td>-->
                                </tr>

                            {{/each}}
                            <tr>
                                <td class="light-background"><h2><b>Final Score</b></h2></td>
                                <td class="light-background" colspan="3"><span
                                        class="finalScore"><h3><b>{{finalScore}}</b></h3></span>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-head">
                <h4>Extra Criteria Details</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="table">
                            <thead class="light-background">
                            <tr>
                                <th hidden>Skill ID</th>
                                <th>Criteria</th>
                                <th>Value</th>
                                <th>Trainer Comment</th>
                                <!--<th>Your Comment</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            {{#each extraCriteriaScores}}
                                <tr class="scoreCategory">
                                    <td hidden>{{score_id}}</td>
                                    <td>{{criteria_name}}</td>
                                    <td><span id="score_span">{{score_value}}</span></td>
                                    {{#if trainer_comment}}
                                        <td>{{trainer_comment}} </td>
                                    {{else}}
                                        <td>{{#ifUserIsTrainer ../session.user.trainer_role 1}}
                                            <button class="btn btn-pill btn-primary" data-toggle="modal"
                                                    data-target="#scoreCommentModal"
                                                    data-criteria-name="{{criteria_name}}" data-score_id="{{score_id}}"
                                                    onclick="addScoreComment(this)"><i class="fa fa-plus"></i> Add
                                                Comment
                                            </button>{{/ifUserIsTrainer}}</td>

                                    {{/if}}
                                    <!--<td>{{trainee_comment}}</td>-->
                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{{else}}
    {{#ifUserIsManager session.user.manager_role 1}}
        <div class="container-fluid">
            <div class="panel">
                <div class="panel-head">
                    {{#each usersession}}
                        <div class="row">
                            <div class="col-md-6">
                                <span><h4><b>Trainee Name:</b> {{trainee_firstname}} {{trainee_lastname}}</h4></span>
                            </div>

                            <div class="col-md-6">
                                <span><h4><b>Trainer Name:</b> {{trainer_firstname}} {{trainer_lastname}}</h4></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span><h4><b>Course:</b> {{course_name}}</h4></span>
                            </div>
                            <div class="col-md-4">
                                <span><h4><b>Skill:</b> {{skill_name}}</h4></span>
                            </div>
                            <div class="col-md-4">
                                <span><h4><b>Session Type:</b> {{type}}</h4></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span><h4><b>Date:</b> {{sessionDate}}</h4></span>
                            </div>
                            <div class="col-md-4">
                                <span><h4><b>Time (24 hrs):</b> {{sessionTime}}</h4></span>
                            </div>
                            <div class="col-md-4">
                                <span><h4><b>Duration (min):</b> {{duration}}</h4></span>
                            </div>
                        </div>
                        {{#if trainer_comment}}
                            <div class="row">

                                <div class="col-md-12">
                                    <span><h4><b>Trainer Comment:</b> {{trainer_comment}}</h4></span>
                                </div>
                            </div>
                        {{/if}}
                        {{#if trainer_comment}}
                            <div class="row">

                                <div class="col-md-12">
                                    <span><h4><b>Trainee Comment:</b> {{trainee_comment}}</h4></span>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="table">
                                <thead class="light-background">
                                <tr>
                                    <th hidden>Skill ID</th>
                                    <th>Criteria</th>
                                    <th>Score</th>
                                    <th>Trainer Comment</th>
                                    <!--<th>Your Comment</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                {{#each scores}}
                                    <tr class="scoreCategory">
                                        <td hidden>{{score_id}}</td>
                                        <td>{{criteria_name}}</td>
                                        <td><span id="score_span">{{score_value}}</span></td>
                                        <td>{{trainer_comment}}</td>
                                        <!--<td>{{trainee_comment}}</td>-->
                                    </tr>

                                {{/each}}
                                <tr>
                                    <td class="light-background"><h2><b>Final Score</b></h2></td>
                                    <td class="light-background" colspan="3"><span
                                            class="finalScore"><h3><b>{{finalScore}}</b></h3></span>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-head">
                    <h4>Extra Criteria Details</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="table">
                                <thead class="light-background">
                                <tr>
                                    <th hidden>Skill ID</th>
                                    <th>Criteria</th>
                                    <th>Value</th>
                                    <th>Trainer Comment</th>
                                    <!--<th>Your Comment</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                {{#each extraCriteriaScores}}
                                    <tr class="scoreCategory">
                                        <td hidden>{{score_id}}</td>
                                        <td>{{criteria_name}}</td>
                                        <td><span id="score_span">{{score_value}}</span></td>
                                        <td>{{trainer_comment}}</td>
                                        <!--<td>{{trainee_comment}}</td>-->
                                    </tr>

                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    {{/ifUserIsManager}}
{{/ifUserIsTrainer}}

    <div id="chartArea"></div>
    <div id="score-table"></div>
    <div id="extra-score-table"></div>

    <div class="modal fade" id="scoreCommentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="titleModal">Add Comment for Score/Criteria </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-vertical" method="post" id="scoreCommentForm">
                        <div class="form-body" id="commentForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="commentScoreId" id="commentScoreId">
                                    <div class="textwrapper"><textarea rows="3" name="scoreComment"
                                                                       form="scoreCommentForm"
                                                                       placeholder="Enter Your Comment Here..."
                                                                       required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="submit" onclick="submitForm()" class="btn btn-pill btn-success">Submit Comment
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/customJavascript/traineeReport.js"></script>